In [24]:
import sys
import importlib
try:
    importlib.reload(sys.modules['experiments'])
except:
    pass
from experiments import *
pd.set_option("display.precision", 2)

styles = [dict(selector="caption",
       props=[
              ("font-family", "Times New Roman"),
              ("text-align", "center"),
              ("font-size", "150%"),
              ("color", 'black')
             ]),
 dict(selector="td",
       props=[("font-family", "Times New Roman")]),
    dict(selector="th",
       props=[("font-family", "Times New Roman")])
 ]

In [4]:
# pd.read_feather('hist_feather/VBIV')

In [6]:
universe = prepare_universe()

In [7]:
universe[universe.date == 1984].groupby(['bm_quintile']).count()

,date,totalAssets,mve,commonStockIssued,roa,operatingCashFlow,book,price,bm,d_roa,d_lever,d_current,d_margin,d_asset,i_roa,cf,i_cf,id_roa,i_accrual,id_lever,id_current,i_shares,id_margin,id_asset,pscore,symbol,mve_quintile,pscore_group
bm_quintile,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

## Statistics on the Universe of Stocks

In [8]:
m2 = universe.copy()[['date', 'bm_quintile']]
m2['count'] = 1
caption = 'Book-to-Market Equal-size Quintiles'
display(pd.pivot_table(m2[m2.date >= 2010], columns=['bm_quintile'],
                       index='date',
                       aggfunc="sum",
                       margins=True)
        .style
        .set_caption(caption)
        .set_table_styles(styles)
        .format('{:.0f}')
       )

# Table 1
# Panel A
## Statistics on High BM only stocks

In [9]:


highbm = universe[universe.bm_quintile==4]
caption = "Financial and Return Characteristics of High Book-to-Market Firms"
highbm.describe(percentiles=[0.5]).T[['mean', 'std', '50%']].style.set_caption(caption).set_table_styles(styles).format('{:.2f}')

In [10]:
highbm.query('book == inf')

Empty DataFrame
Columns: [date, totalAssets, mve, commonStockIssued, roa, operatingCashFlow, book, price, bm, d_roa, d_lever, d_current, d_margin, d_asset, i_roa, cf, i_cf, id_roa, i_accrual, id_lever, id_current, i_shares, id_margin, id_asset, pscore, symbol, bm_quintile, mve_quintile, pscore_group]
Index: []

# Table 1
# Panel B
## Buy and Hold Returns from a High Book-to-Market Investment Strategy

In [11]:
highbm.head()

,date,totalAssets,mve,commonStockIssued,roa,operatingCashFlow,book,price,bm,d_roa,d_lever,d_current,d_margin,d_asset,i_roa,cf,i_cf,id_roa,i_accrual,id_lever,id_current,i_shares,id_margin,id_asset,pscore,symbol,bm_quintile,mve_quintile,pscore_group
0,2014,1.87e+10,6.61e+09,0.0,-1.37e-02,8.42e+08,5.81e+01,36.25,1.60e+00,0.00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.0,4.51e-02,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,AA,4.0,2.0,med
1,2015,1.64e+10,4.18e+09,0.0,-4.92e-02,8.75e+08,5.18e+01,22.89,2.26e+00,-0.04,-4.60e-03,8.43e-04,-4.81e-03,-6.56e-02,0.0,5.33e-02,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,4.0,AA,4.0,2.0,med
0,2022,1.51e+08,3.11e+06,0.0,-2.40e-02,-9.14e+05,7.12e+00,0.15,4.74e+01,-0.02,1.67e-03,-4.32e+00,-4.39e+08,7.68e-15,0.0,-6.05e-03,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,5.0,AACIW,4.0,0.0,med
1,2023,2.54e+07,5.34e+05,0.0,-3.63e-03,-1.86e+06,2.32e+00,0.07,3.15e+01,0.02,9.92e-02,-5.41e-02,1.82e+08,4.71e-11,0.0,-7.32e-02,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,5.0,AACIW,4.0,0.0,med
0,1997,3.59e+08,6.14e-01,0.0,2.46e-01,7.72e+07,2.27e+10,61.41,3.69e+08,0.05,-7.26e-02,4.55e+00,0.00e+00,1.86e-01,1.0,2.15e-01,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,6.0,AAIC,4.0,0.0,med

In [12]:
results = get_piotroski_experiment_results(highbm)
len(results)

1984 plo
1984 0 cannot run experiment
1984 phi
1984 0 cannot run experiment
1984 all
1984 ps_lo
1984 ps_hi
1985 plo
1985 0 cannot run experiment
1985 phi
1985 0 cannot run experiment
1985 all
1985 ps_lo
1985 ps_hi
1986 plo
1986 0 cannot run experiment
1986 phi
1986 0 cannot run experiment
1986 all
1986 ps_lo
1986 ps_hi
1987 plo
1987 0 cannot run experiment
1987 phi
1987 0 cannot run experiment
1987 all
1987 ps_lo
1987 ps_hi
1988 plo
1988 0 cannot run experiment
1988 phi
1988 0 cannot run experiment
1988 all
1988 ps_lo
1988 ps_hi
1989 plo
1989 phi
1989 all
1989 ps_lo
1989 ps_hi
1990 plo
1990 0 cannot run experiment
1990 phi
1990 all
1990 ps_lo
1990 ps_hi
1991 plo
1991 phi
1991 all
1991 ps_lo
1991 ps_hi
1992 plo
1992 0 cannot run experiment
1992 phi
1992 all
1992 ps_lo
1992 ps_hi
1993 plo
1993 phi
1993 all
1993 ps_lo
1993 ps_hi
1994 plo
1994 phi
1994 all
1994 ps_lo
1994 ps_hi
1995 plo
1995 phi
1995 all
1995 ps_lo
1995 ps_hi
1996 plo
1996 phi
1996 all
1996 ps_lo
1996 ps_hi
1997 plo
1997 phi
1997 all
1997 ps_lo
1997 ps_hi
1998 plo
1998 phi
1998 all
1998 ps_lo
1998 ps_hi
1999 plo
1999 phi
1999 all
1999 ps_lo
1999 ps_hi
2000 plo
2000 phi
2000 all
2000 ps_lo
2000 ps_hi
2001 plo
2001 phi
2001 all
2001 ps_lo
2001 ps_hi
2002 plo
2002 phi
2002 all
2002 ps_lo
2002 ps_hi
2003 plo
2003 phi
2003 all
2003 ps_lo
2003 ps_hi
2004 plo
2004 phi
2004 all
2004 ps_lo
2004 ps_hi
2005 plo
2005 phi
2005 all
2005 ps_lo
2005 ps_hi
2006 plo
2006 phi
2006 all
2006 ps_lo
2006 ps_hi
2007 plo
2007 phi
2007 all
2007 ps_lo
2007 ps_hi
2008 plo
2008 phi
2008 all
2008 ps_lo
2008 ps_hi
2009 plo
2009 phi
2009 all
2009 ps_lo
2009 ps_hi
2010 plo
2010 phi
2010 all
2010 ps_lo
2010 ps_hi
2011 plo
2011 phi
2011 all
2011 ps_lo
2011 ps_hi
2012 plo
2012 phi
2012 all
2012 ps_lo
2012 ps_hi
2013 plo
2013 phi
2013 all
2013 ps_lo
2013 ps_hi
2014 plo
2014 phi
2014 all
2014 ps_lo
2014 ps_hi
2015 plo
2015 phi
2015 all
2015 ps_lo
2015 ps_hi
2016 plo
2016 phi
2016 all
2016 ps_lo
2016 ps_hi
2017 plo
2017 phi
2017 all
2017 ps_lo
2017 ps_hi
2018 plo
2018 phi
2018 all
2018 ps_lo
2018 ps_hi
2019 plo
2019 phi
2019 all
2019 ps_lo
2019 ps_hi
2020 plo
2020 phi
2020 all
2020 ps_lo
2020 ps_hi
2021 plo
2021 phi
2021 all
2021 ps_lo
2021 ps_hi
2022 plo
2022 phi
2022 all
2022 ps_lo
2022 ps_hi
2023 plo
2023 phi
2023 all
2023 ps_lo
2023 ps_hi

187000

In [13]:
display(results[(results.group == "all") &
        (pd.to_datetime(results.start).dt.year < 2000)]
        .drop(columns=['start', 'end', 'group', 'max', 'mean', 'p0', 'n'])
        .mean()
        .to_frame().T);
caption = "Buy-and-Hold Returns from a High Book-to-Market Investment Strategy"
display(results[(results.group == "all")]
        .drop(columns=['start', 'end', 'group', 'mean', 'p0', 'n'])
        .mean()
        .to_frame()
        .T
        .style
        .hide(axis='index')
        .set_caption(caption)
        .set_table_styles(styles)
        .format('{:.2f}'));

   returns       p10   p25  p50   p75   p90  positive
0     0.13 -6.06e-03  0.03  0.1  0.15  0.18      0.77

In [25]:
tests = run_piotroski_tests(results)

(640,)

[[], [[]]]

In [27]:
display(tests[tests.start=='--']
 .style
 .hide(axis='index')
 .set_caption("Aggregate High BM Test Statistics")
 .set_table_styles(styles)
 #.format('{:.2f}')
);